html{
	font-size: 62.5%;
}
body
{
	margin:0;
	padding:0;
	font-family:sans-serif;
	background:url(../tower.jpg) no-repeat;
	height: 100vh;
	background-size: 100% 100%;
	
}
.login-box

{
	
	width:28rem;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.login-box h1
{
	color: black;
	float:left;
	font: size 4rem;;
	border-bottom:0.6rem solid black;
	margin: bottom 5rem;;
	padding:1.3rem 0;
	
}
.textbox
{
	
	width:100%;
	overflow:hidden;
	font-size:2rem;
	padding:0.8rem 0;
	margin:0.8rem 0;
	border-bottom:1px solid black;
}
.textbox i 

{
	width:2.6rem;
	float:left;
	text-align:center;
}
.textbox input {
	
	border:none;
	outline:none;
	background:none;
}
.textbox input {
	
	border:none;
	outline:none;
	background:none;
	color:black;
	font-size:1.8rem;
	width:80%;
	float:left;
	margin:0 1rem;
	
}
.btn
{
	
	width:100%;
	background:none;
	border:0.2rem solid black;
	color:black;
	padding:0.5rem;
	font: size 1.8rem;;
	cursor:pointer;
	margin:1.2rem 0;
	transition: 0.6s ease;
}

.btn:hover{
	background-color: orangered;
}

.main{
  overflow: hidden;
  position: fixed;
  background-color: white;
  top: 0;
  width: 100vw;
  height: 8vh;
  max-width: 155rem;
}

ul{
  list-style-type: none;
  margin-top: 2rem;
  margin-right: 5rem;
}

ul li{
  display: inline;
}

.list{
  position: fixed;
  display: block;
  top: 0.9rem;
  float: left;
}

.list li.logo img{
  position: relative;
  float: left;
  top: -2rem;
  margin-left: -5%;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;

}

.search{
  display: inline;
  color: black;
  text-align: center;
  text-decoration: none;
}

.search input[type=text]{
  position: relative;
  float: left;
  width: 35rem;
  top:-1.8rem;
  left: 5%;
  padding: 0.6rem;
  font-size: 1.5rem;
  border-radius: 1.5rem;
  border: 0.1rem solid black;
  transition: 0.6s ease;
}

.search input[type=text]:hover{
  background-color: #dcdcdd;
}

.list input[type=image]{
  position: relative;
  float: right;
  top:-5rem;
  left: 2%;
  margin-left: 20%; 
  padding: 0.4rem;
  border-radius: 1rem;
  border: 0.1rem solid black;
  transition: 0.6s ease;
  background-color: #fff;
}

.list input[type=image]:hover{
  background-color: white;
}
html{
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: aquamarine;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

/* nav styles */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  background-color: transparent;
}

.logo img {
  position: relative;
  float: left;
  top: -2rem;
  margin-left: -5%;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
.search{

  display: inline;
  color: black;
  text-align: center;
  text-decoration: none;
}

.search input[type=text]{
  position: relative;
  float: left;
  width: 35rem;
  /* height: 5; */
  margin-top: 1rem;
  left: 5%;
  padding: 0.6rem;
  font-size: 1.5rem;
  border-radius: 1.5rem;
  border: 0.1rem solid #a1a1fe;
  transition: 0.6s ease;
}

.search input[type=text]:hover{
  background-color: #dcdcdc;
}

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: black;
}

.nav__link {
  position: fixed;
  width: 94%;
  top: 5rem;
  left: 18px;
  background-color: lightblue;
}

.nav__link a {
  display: block;
  text-align: center;
  padding: 10px 0;
}

.nav__link a:hover {
  background-color: lightcoral;
}

.hide {
  display: none;
}

@media screen and (max-width:62em) {
  html{
    font-size: 55%;
  }
}

@media screen and (min-width: 1030px) {
  .nav__link {
    display: block;
    position: static;
    width: auto;
    margin-right: 20px;
    background: none;
  }

  .nav__link a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}


@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
html{
	font-size: 62.5%;
}
@media (max-width:998px) {

  html{
    font-size: 55%;
   }
  }
  @media (max-width:768px) {
  html{
    font-size: 45%;
  }
  
  }